# Домашня робота 2.2

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

### Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv

In [2]:
data = pd.read_csv('2017_jun_final.csv')

data.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

### Прочитайте отриману таблицю, використовуючи метод head

In [3]:
data.head(3)

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV

### Визначте розмір таблиці за допомогою методу shape

In [4]:
data.shape

(8704, 25)

### Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [5]:
data.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

### Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [6]:
data.isnull().sum()/len(data)

N                                   0.000000
Должность                           0.000000
Язык.программирования               0.442325
Специализация                       0.829389
Общий.опыт.работы                   0.000000
Опыт.работы.на.текущем.месте        0.000000
Зарплата.в.месяц                    0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
Город                               0.000000
Размер.компании                     0.000000
Тип.компании                        0.000000
Пол                                 0.000000
Возраст                             0.000000
Образование                         0.000000
Университет                         0.041131
Еще.студент                         0.000000
Уровень.английского                 0.000000
Предметная.область                  0.025620
Дата.заполнения                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64

### Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [7]:
# data['Язык.программирования'] = data['Язык.программирования'].fillna(1)
# data.isnull().sum()
# data = data.drop(columns=['Специализация', 'Университет', 'Предметная.область', 'Валюта', 'cls' ])

### Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [8]:
data.replace(1, np.nan, inplace=True)
data.dropna(inplace=True)
data

Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

### Визначте новий розмір таблиці за допомогою методу shape

In [9]:
data.shape

(0, 25)

### Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [10]:
data1 = data[data["Язык.программирования"] == "Python"]
data1

Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

### Визначте розмір таблиці python_data за допомогою методу shapef

In [11]:
data1.shape

(0, 25)

### Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [12]:
#data1 = data1.groupby("Должность", as_index=False)
print(data1)

Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

### Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [13]:
salary = data1.agg({'Зарплата.в.месяц': (np.min, np.max)})
salary

/var/folders/qp/bpgbj2092t5g67w5y7fhq5mh0000gp/T/ipykernel_46783/3538467678.py:1: FutureWarning: The provided callable <function min at 0x105d313f0> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  salary = data1.agg({'Зарплата.в.месяц': (np.min, np.max)})
/var/folders/qp/bpgbj2092t5g67w5y7fhq5mh0000gp/T/ipykernel_46783/3538467678.py:1: FutureWarning: The provided callable <function max at 0x105d312d0> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  salary = data1.agg({'Зарплата.в.месяц': (np.min, np.max)})

     Зарплата.в.месяц
min               NaN
max               NaN

### Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [14]:
def fill_avg_salary(row):
  return np.average([row['Зарплата.в.месяц']['amin'], row['Зарплата.в.месяц']['amax']])

salary['avg'] = salary.apply(fill_avg_salary, axis=1)
salary.sort_values('avg', ascending=False)

IndexError: invalid index to scalar variable.

### Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [ ]:
 salary['avg'].describe()

### Збережіть отриману таблицю в CSV файл

In [ ]:
salary.to_csv("salary.csv", index=False)

# Графіки

In [ ]:
sns.boxplot(x='Город', y='Зарплата.в.месяц', data=data)
plt.xlabel('Город')
plt.ylabel('Зарплата в месяц')
plt.title('Распределение зарплат по городам')
plt.xticks(rotation=90)
plt.show()

In [ ]:
sns.scatterplot(x='Общий.опыт.работы', y='Изменение.зарплаты.за.12.месяцев', data=data)
plt.xlabel('Общий опыт работы (лет)')
plt.ylabel('Изменение зарплаты за 12 месяцев')
plt.title('Зависимость изменения зарплаты от опыта работы')
plt.show()

In [ ]:
sns.histplot(data=data, x='Зарплата.в.месяц', kde=True)
plt.xlabel('Зарплата в месяц')
plt.ylabel('Частота')
plt.title('Распределение зарплат в месяц')
plt.show()